
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Ubuntu+Mono:wght@400;700&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu Mono', monospace; */

body{
    background-color: #1f1f1f;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}

.nav{
    background-color: rgb(70, 7, 119);
    display: flex;
    border: 8px solid #1f1f1f;
    font-size: larger;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: static;
   
}


.isl{
    border: 2px solid black;
    background-color: black;
    width: 390px;
    border-radius: 15px;
    color: white;
    font-family: monospace;
    margin: auto;
    text-align: center;
    padding: 8px;

}

